<div class="col">
    <div class="panel" data-aos="zoom-in-right" >
        <h2>{{ component.title }}</h2>
        <article class="content">
            {% for field in component.fields %}
            <div class="row timeline-comp">
                <div class="col">
                    <div class="row">
                        <div class="col-2" style="padding:0;">
                            <!-- Start: icon -->
                            <div class="icon-wrapper"><i class="fa fa-{{ field.data['icon'] }}"></i></div>
                            <!-- End: icon -->
                            <!-- Start: date -->
                            <div class="timeline-date"><span>{{ field.data['date'] }}</span></div>
                            <!-- End: date -->
                        </div>
                        <div class="col timeline-col">
                            <div class="timeline-desc">
                                <h5 style="font-weight:700;">{{ field.data['title'] }}</h5>
                                <p> {{ field.data['desc']|raw }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
         </article>
    </div>
</div>